$heightD: 513px;
$heightT: calc(250px * 4);
$heightM: calc(370px * 4);

.brands {
  align-items: center;
  display: flex;
  height: $heightM;
  justify-content: center;
  position: relative;

  @include bp('min','md'){
    height: $heightT
  }

  @include bp('min','lg'){
    height: $heightD;
  }
  
  &__background {
    background-color: $blue;
    height: $heightM;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -2;

    @include bp('min','md'){
      height: $heightT;
    }

    @include bp('min','lg'){
      height: $heightD;
    }
  }
  
  &__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 60px);
    
    @include bp('min','lg'){
      width: calc(100% - 100px);
    }
  }

  &__item {
    align-items: flex-start;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    margin: 0;
    width: calc(100% - 60px);

    @include bp('min','lg'){
      padding-bottom: 0px;
      width: calc(25% - 60px);
      height: 280px;
    }

    &:nth-child(even){
      background-color: $lightGray;
    }

    &:before {
      content: '';
      box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.36);
      height: 100%;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &__link {
    height: 100%;
    position: absolute;
    text-decoration: none;
    top: 0;
    transform: translateX(-30px);
    width: 100%;
    z-index: 5;

    // IE10 Fix
    background-color: white;
    opacity: 0;
  }

  &__tagline {
    font-size: 20px;
    padding-top: 20px;
    position: relative;

    &:before {
      content: '';
      background-color: $green;
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 70px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }
}